[submodule "src/sdk-objectivec-apple"]
	path = src/sdk-objectivec-apple
	url = git@github.com:pryv/sdk-objectivec-apple.git
[submodule "sdk-objectivec-apple"]
	path = sdk-objectivec-apple
	url = git@github.com:pryv/sdk-objectivec-apple.git
